html, body{
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: #000;
}

a{
  text-decoration: none !important;
  color: #000 !important;
}

img{
  max-width: 100%;
}

.align-bottom{
  align-items: flex-end;
}

.document{
  padding: 1em;
}

.table-custom{
  .cell{
    border: 1px solid #000;
    //padding: 0.5em;
  }
}



.bg-gray-medium{
  background-color: $colors-gray-medium !important;
}

.bg-gray-light{
  background-color: $colors-gray-light !important;
}

.bg-gray-dark{
  background-color: $colors-gray-dark !important;
}

.color-white{
  color: #fff !important;
}
.color-gray-dark{
  color: $colors-gray-dark !important;
}

.uppercase{
  text-transform: uppercase;
}

.centered-bootstrap-col{
  margin: 0 auto;
}

.text-align-right{
  text-align: right;
}

.text-align-center{
  text-align: center;
}

.b-0{
  border: 0 !important;
}

.bt-0{
  border-top: 0 !important;
}

.bb-0{
  border-bottom: 0 !important;
}

.br-0{
  border-right: 0 !important;
}

.bl-0{
  border-left: 0 !important;
}

.table{
  border: 1px solid #000;
  // We need this one to break cells content when needed
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
  margin-bottom: 2.5em;
  tr{
    margin: 0 auto;
  }
  td, th{
    padding: .5em;
    font-weight: 300;
  }
  tbody{
    td, th{
      padding: 1em 0.5em;
    }
  }
  &.table-bordered{
    td, th{
      border: 1px solid #000;
    }
  }
  &.table-theme-light{
    thead{
      @extend .bg-gray-medium;
    }
  }
  &.table-theme-dark{
    thead {
      font-size: 1.1em;
      @extend .bg-gray-dark;
    }
  }
  &.table-transparent{
    background-color: transparent;
  }
  &.table-nested{
    tr:not(:last-child){
      td, th{
        border-bottom: 2px solid #000 !important;
      }

      .table-nested-second-level{
        tr:last-child() {
          td{
            border-bottom: 0 !important;
          }
        }
      }
    }
  }
}
