.invoice{
  /*
  Common
   */
  .services-list{
    padding: 0;
    margin: 0;
    list-style: none;
    .list-item{
      padding: 0.25em 0;
      align-items: flex-start;
      font-size: 1.2em;
      .list-item-number{
        font-size: 1.3em;
        white-space: nowrap;
      }
      .list-item-content{
        padding-top: 0.4em;
      }
    }
  }
  .subtotal-amount-title{
    font-size: 1.4em;
    padding-right: 1.5em;
    color: #000;
    font-weight: 400;
  }
  .subtotal-amount{
    background-color: #fff;
    margin-left: -1px;
    border-right: 2px solid #000 !important;
    border-bottom: 2px solid #000 !important;
    border-left: 2px solid #000 !important;
  }
  /*
  Invoice Header
   */
  .header{
    .capital{
      font-size: 1.25em;
    }
    &.main{
      .logo{
        img{
          max-width: 17em;
        }
      }
      .title{
        font-size: 1.1em;
        padding-bottom: .2em;
      }
    }

    &.primary{
      padding-bottom: 2em;
      position: relative;
      .page-number{
        font-size: 5em;
        display: inline-block;
        margin-top: -0.3em;
        color: $colors-gray-medium;
      }
      .table{
        margin: 0;
      }
      .note{
        padding-top: 0.2em;
      }
    }
  }

  /*
  Invoice info
   */
  .invoice-info{
    padding: 1.5em 0 0.5em 0;
    .title{
      display: inline-block;
      min-width: 3.5em;
    }
    .invoice-info-content{
      padding-left: 1em;
    }
    .content{
      line-height: 1;
      font-size: 1.1em;
    }
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        padding-top: 5px;
        a{

        }
      }
    }
  }

  /*
  Invoice instructions
   */
  .instructions{
    .title{
      text-transform: uppercase;
      font-size: 1.3em;
    }
    ul{
      padding: 0 3em;
      font-size: 1.2em;
      li{
      }
    }
  }

  /*
  Invoice number of receipts
   */
  .number-of-receipts{
    padding: 1.5em 0;
    .table{
      font-size: 1.3em;
      margin-bottom: 0.15em;
    }
  }

  /*
  Signature
   */
  .signature{
    .indent{
      height: 6em;
    }
    .signing-info{
      ul{
        margin: 0;
        padding: 0.2em 0 0 1.4em;
      }
    }
  }

  /*
  Support worker
   */
  .support-worker{
    .support-worker-name{

    }
    .support-worker-hours{

    }
  }
}