<% include ../partials/common/header %>

<div class="invoice document">

    <% include ../partials/invoice/header-main %>

    <% include ../partials/invoice/payee-information %>

    <% include ../partials/invoice/instructions %>

    <% include ../partials/invoice/number-of-receipts %>

    <% include ../partials/invoice/person-managing-funds-signature %>

    <% include ../partials/invoice/header-primary %>

    <% include ../partials/invoice/support-worker %>

    <% include ../partials/invoice/mileage %>

    <% include ../partials/invoice/support-worker-signature %>

    <% include ../partials/invoice/header-primary %>

    <% include ../partials/invoice/community-participation %>

    <% include ../partials/invoice/person-directed-planning %>

    <% include ../partials/invoice/administration %>

    <% include ../partials/invoice/header-primary %>

    <% include ../partials/invoice/other-claims %>

</div>

<% include ../partials/common/footer %>


