<!--Header-->
<div class="header main">
    <div class="row align-bottom">
        <div class="logo col-6">
            <img src="img/logo.png" alt="">
        </div>
        <div class="title text-align-right col-6">
            <!--We use <%- %> here to output raw unformatted html data-->
            <%- __('common.documentTitle') %>
        </div>
    </div>
</div>

 <!--Info-->
<div class="invoice-info">
        <div class="d-inline-block">
            <ul>
                <li>
                    <span class="title"><%= __('header.fax') %>:</span>
                </li>
                <li>
                    <span class="title"><%= __('header.email') %>:</span>
                </li>
            </ul>
        </div>
        <div class="d-inline-block invoice-info-content">
             <ul>
                <li>
                    <a class="content" href="callto:1 (416) 943-6293">1 (416) 943-6293</a>
                </li>
                <li>
                    <a class="content" href="mailto:invoices@familyservicetoronto.org">invoices@familyservicetoronto.org</a>
                </li>
            </ul>
        </div>

</div>

<!--Client info-->
 <table class="table table-bordered table-theme-light">
    <thead>
        <tr class="row m-0">
            <th scope="col"  class="d-inline-block col-3"><%= __('common.clientCode') %></th>
            <th scope="col" class="d-inline-block col-9"><%= __('common.clientName') %></th>
        </tr>
    </thead>
    <tbody>
        <tr class="row m-0">
            <th scope="row" class="d-inline-block col-3">Content will be placed there</th>
            <td class="d-inline-block col-9">Content will be placed there</td>
        </tr>
    </tbody>
</table>