 <!--Header primary-->
    <div class="header primary">
       <div class="row">
           <div class="col-11">
               <div class="title">
                   <%- __('common.documentTitle') %>
               </div>
               <table class="table table-bordered">
                   <tbody>
                   <tr class="row m-0">
                       <th scope="row" class="d-inline-block col-3">
                           <%- __('common.clientCode') %>
                       </th>
                       <td class="d-inline-block col-9">Content will be placed there</td>
                   </tr>
                   <tr class="row m-0">
                       <th scope="row" class="d-inline-block col-3">
                           <%- __('common.clientName') %>
                       </th>
                       <td class="d-inline-block col-9">Content will be placed there</td>
                   </tr>
                   </tbody>
               </table>
               <div class="note">
                   <%- __('headerPrimary.note') %>:
               </div>
           </div>
           <div class="col-1 text-align-right">
               <span class="page-number">2</span>
           </div>
       </div>
    </div>