<!--Instructions-->
<div class="instructions">
    <div class="title"><%= __('instructions.title') %></div>
    <ul>
        <% __('instructions.instructionsArray').forEach(instruction => { %>
            <li>
                <%= instruction %>
            </li>
        <% }) %>
    </ul>
</div>