<div class="mileage">
    <table class="table table-bordered table-theme-dark m-0 bb-0">
        <thead>
        <tr class="row m-0">
            <th scope="col" class="d-inline-block uppercase color-white col-12">
                <%= __('mileage.title') %>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="row m-0 bg-gray-light">
            <td class="d-inline-block col-3 br-0">
                <div class="small">
                    <%= __('mileage.description') %>
                </div>
            </td>
            <td class="d-inline-block col-9 bl-0 p-0 bt-0">
                <table class="table small table-nested table-bordered m-0 bt-0 ">
                    <tbody>
                    <!--This one should be repeatable-->
                    <tr class="row m-0 ">
                        <td class="d-inline-block col-4  p-0 b-0">
                            <table class="table table-nested-second-level table-bordered m-0 b-0">
                                <tbody>
                                <tr>
                                    <td><%= __('common.startDate') %></td>
                                </tr>
                                <tr>
                                    <td><%= __('common.distance') %></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="d-inline-block col-3 p-0 b-0">
                            <table class="table table-nested-second-level table-bordered m-0 b-0">
                                <tbody>
                                <tr>
                                    <td><%= __('common.endDate') %></td>
                                </tr>
                                <tr>
                                    <td><%= __('common.rate') %></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="d-inline-block col-4">
                            <%= __('common.amount') %>
                        </td>
                        <td class="d-inline-block col-1 br-0">
                            <%= __('common.outOfOntario') %>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <!--Subtotal amount will be placed there-->
                <table class="table small table-transparent m-0 b-0">
                    <tbody>
                    <tr class="row m-0">
                        <td class="subtotal-amount-title d-inline-block col-7  b-0 text-align-right">
                            <%= __('common.subtotal') %>
                        </td>
                        <td class="subtotal-amount d-inline-block col-4 bt-0">
                            <%= __('common.amount') %>
                        </td>
                        <td class="d-inline-block col-1 b-0">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>

            </td>
        </tr>
        </tbody>
    </table>
</div>