 <!--Number of receipts-->
<div class="number-of-receipts">
    <div class="col-9 centered-bootstrap-col">
        <table class="table table-bordered table-theme-light">
            <thead></thead>
            <tbody>
            <tr class="row m-0">
                <th scope="row" class="d-inline-block bg-gray-dark color-white uppercase col-7"><%= __('numberOfReceipts.number') %></th>
                <td class="d-inline-block col-5">Content will be placed there</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered table-theme-light">
            <thead></thead>
            <tbody>
            <tr class="row m-0">
                <th scope="row" class="d-inline-block bg-gray-dark color-white uppercase col-7"><%= __('numberOfReceipts.amount') %></th>
                <td class="d-inline-block col-5">Content will be placed there</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
</div>