<table class="table table-bordered table-theme-light">
    <thead>
    <tr class="row m-0">
        <th scope="col"  class="d-inline-block col-12"><%= __('common.payeeInformation') %></th>
    </tr>
    </thead>
    <tbody>
        <tr class="row m-0">
            <th scope="row" class="d-inline-block bg-gray-light col-3"><%= __('common.name') %></th>
            <td class="d-inline-block col-9">Content will be placed there</td>
        </tr>
        <tr class="row m-0">
            <th scope="row" class="d-inline-block bg-gray-light col-3"><%= __('common.address') %></th>
            <td class="d-inline-block col-9">Content will be placed there</td>
        </tr>
        <tr class="row m-0">
            <th scope="row" class="d-inline-block bg-gray-light col-3"><%= __('common.phoneNumber') %></th>
            <td class="d-inline-block col-9">Content will be placed there</td>
        </tr>
    </tbody>
</table>