<!--Signature-->
<div class="signature">
    <table class="table table-bordered table-theme-dark">
        <thead>
            <tr class="row m-0">
                <th scope="col"  class="d-inline-block uppercase text-align-center color-white col-12">
                    <%= __('personManagingFundsSignature.title') %>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="row m-0">
                <td class="signing-info d-inline-block bg-gray-light col-12">
                    <%= __('personManagingFundsSignature.signingInfo.title') %>:
                    <br>
                    <ul>
                        <% __('personManagingFundsSignature.signingInfo.signingInfoList').forEach(item => { %>
                        <li>
                            <%= item %>
                        </li>
                        <% }) %>
                    </ul>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="row m-0">
                <td class="d-inline-block  col-9">
                    <div class="indent"></div>
                    <small class="color-gray-dark">
                        <%= __('personManagingFundsSignature.signingInfo.caption') %>
                    </small>
                </td>
                <td class="d-inline-block  col-3">
                    <div class="indent"></div>
                    <small class="color-gray-dark">
                        <%= __('common.date') %>
                    </small>
                </td>
            </tr>
        </tfoot>
    </table>
</div>