<!--Person directed planning-->
<div class="person-directed-planning">
    <table class="table table-bordered table-theme-dark bt-0 bb-0">
        <thead>
        <tr class="row m-0">
            <th scope="col" class="d-inline-block uppercase color-white col-12">
                <%= __('personDirectedPlanning.title') %>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="row m-0 bg-gray-light">
            <td class="d-inline-block col-12 bl-0 p-0 bt-0">
                <table class="table small table-nested table-bordered m-0 bt-0">
                    <tbody>
                    <!--This one should be repeatable-->
                    <tr class="row m-0">
                        <td class="d-inline-block col-3">
                            <%= __('personDirectedPlanning.nameOfPlanningFacilitator') %>
                        </td>

                        <td class="d-inline-block col-3 p-0 b-0">
                            <table class="table table-nested-second-level table-bordered m-0 b-0">
                                <tbody>
                                <tr>
                                    <td><%= __('common.nameOfAgency') %><br><br><br></td>
                                </tr>
                                <tr>
                                    <td><%= __('common.startDate') %></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="d-inline-block col-2 p-0 b-0">
                            <table class="table table-nested-second-level table-bordered m-0 b-0">
                                <tbody>
                                <tr>
                                    <td><%= __('common.invoiceReceiptNumber') %><br><br><br></td>
                                </tr>
                                <tr>
                                    <td><%= __('common.endDate') %></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="d-inline-block col-3">
                            <%= __('common.amount') %>
                        </td>
                        <td class="d-inline-block col-1 br-0">
                            <%= __('common.outOfOntario') %>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>



