<!--Signature-->
<div class="signature">
    <table class="table table-bordered table-theme-dark bt-0">
        <thead>
            <tr class="row m-0">
                <th scope="col"  class="d-inline-block uppercase text-align-center color-white col-12">
                    <%= __('supportWorkerSignature.title') %>
                </th>
            </tr>
        </thead>

        <tfoot>
            <tr class="row m-0">
                <td class="d-inline-block  col-9">
                    <%= __('supportWorkerSignature.signingInfo.title') %>
                    <div class="indent"></div>
                    <small class="color-gray-dark">
                        <%= __('supportWorkerSignature.signingInfo.caption') %>
                    </small>
                </td>
                <td class="d-inline-block  col-3">
                    <br>
                    <div class="indent"></div>
                    <small class="color-gray-dark">
                        <%= __('common.date') %>
                    </small>
                </td>
            </tr>
        </tfoot>
    </table>
</div>