<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=latin" rel="stylesheet">
    <link rel="stylesheet" href="build/styles.css">
</head>
<body>
    <div class="container">